extends layout

block content
    #wrapper
      header
        h1 Project Bar-Berg
      #hoved
        #nav-bar
          a(href='/') Hjem
          a(href='pubListe') Pub
          a(href='') Om
          a(href='') Kontakt
          #sok
            p Søk etter en bar i Bergen
            form(method='get', action='pubSok')
              input(type='text', name='sok')



        br
        #hovedinnhold
          h1 #{pu.pub}
          p Aldersgrense: #{pu.alder}
          p Åpningstider: #{pu.apning}
          p Hjemmeside:
            a(href='#{pu.hjemme}') #{pu.hjemme}
          p Type: #{pu.type}
          p Gate/adresse: #{pu.adresse}
          p Tlf: #{pu.tlf}
          p Mail: #{pu.mail}
          p Kleskode: #{pu.kles}
          p Inngangspris: #{pu.inngang}
          p Diverse: #{pu.dive}
