extends layout

block content
    #wrapper
      header
        h1 Project Bar-Berg
      #hoved
        #nav-bar
          a(href='/') Hjem
          a(href='pubListe') Pub
          a(href='') Om
          a(href='') Kontakt
          #sok
            p Søk etter en bar i Bergen
            form(method='get', action='pubSok')
              input(type='text', name='sok')


        br
        h2 Liste over pub i Bergen
        #hovedinnhold
          p Noe annet
          #sider
            -var i = 0;
            #mask
              mixin sider(id,navn,n,j,href)
                div(class='side')&attributes(attributes)
                  -var b = 1;
                  .sideDiv
                    h2= navn
                    - for (; i < n; i++)
                      -var pub = liste[i].pub
                      a(href="pub?#{uriStr[i]}")
                        .info
                          h4= pub
                          p(class='type') Type #{liste[i].type}
                          p(class='alder') Alder: #{liste[i].alder}
                          img(src='#{liste[i].bilde[0]}' class='bilde' + b)
                        -b++;
                        br
                  -b = 1;
                  .sideDiv2
                    h2= navn
                    - for (; i < j; i++)
                      a(href="pub?#{uriStr[i]}")
                        .info
                          h4= liste[i].pub
                          p(class='type') Type: #{liste[i].type}
                          p(class='alder') Alder: #{liste[i].alder}
                          img(src='#{liste[i].bilde[0]}' class='bilde' + b)
                        -b++;
                        br


              +sider(side1,1,5,10,'#side2')(id='side1')
              +sider(side2,2,15,20,'#side3')(id='side2')
              +sider(side3,3,25,30,'#side4')(id='side3')
              +sider(side4,4,35,40,'#side5')(id='side4')
              +sider(side5,5,45,50,'#side6')(id='side5')
              +sider(side6,6,55,60,'#side7')(id='side6')
              +sider(side7,7,65,67,'#side1')(id='side7')

          section(id='sideLink')
            .aTagNeste
              a(href='#side2').panel Neste side

            .aTagForrige
              a(href='#side1').panel2 Forrige side
