extends layout

block content
    #wrapper
      header
        h1 Project Bar-Berg
      #hoved
        #nav-bar
          a(href='/') Hjem
          a(href='pubListe') Pub
          a(href='') Om
          a(href='') Kontakt
          #sok
            p Søk etter en bar i Bergen
            form(method='get', action='pub')
              input(type='text', name='pub')


        br
        h2 Liste over pub i Bergen
        #hovedinnhold
          - var n = docAntall;
          - for (var i = n; i < n + 10; i++)
              .side1
                ul
                  if index === 0
                    h2 #1
                  h3
                    a(href="pub?#{uriStr[i]}")= liste[i]

          if n === 0
            #neste
              a(href="pubListe?class=#{side}") Neste side

          else if n === 60
            #forrige
              a(href="pubListe?class=#{side}") Forrige side

          else
            #forrige
              a(href="pubListe?class=#{side[0]}") Forrige side
            #neste
              a(href="pubListe?class=#{side[1]}") Neste side
