extends layout

block content
    #wrapper
      header
        h1 Project Bar-Berg
      #hoved
        #nav-bar
          a(href='/') Hjem
          a(href='pubListe') Pub
          a(href='') Om
          a(href='') Kontakt
          #sok
            p Søk etter en bar i Bergen
            form(method='get', action='pub')
              input(type='text', name='pub')


        br
        h2 Liste over pub i Bergen
        #hovedinnhold
          p Noe annet
          #sider
            -var i = 0;
            #mask
              mixin sider(id,navn,n,href)
                div(class='side')&attributes(attributes)
                  .sideDiv
                    h2= navn
                    - for (; i < n; i++)
                      a(href="pub?#{uriStr[i]}")
                        section
                          h4= liste[i]
                          img(src='/images/fff.png')
                        br


                  .sideDiv2
                    h2= navn
                    - for (; i < (n + 5); i++)
                      a(href="pub?#{uriStr[i]}")
                        section
                          h4= liste[i]
                          img(src='/images/fff.png')
                        br
                  .atag
                    a(href=href).panel Neste side

              +sider(side1,1,5,'#side2')(id='side1')
              +sider(side2,2,15,'#side3')(id='side2')
              +sider(side3,3,25,'#side4')(id='side3')
              +sider(side4,4,35,'#side5')(id='side4')
              +sider(side5,5,45,'#side6')(id='side5')
              +sider(side6,6,55,'#side7')(id='side6')
              +sider(side7,7,65,'#side1')(id='side7')
